.contatos-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
   background: linear-gradient(135deg, #0f0f0f, #505050);
}

.grid-contatos {
  background: #1e293b;
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
  text-align: center;
  width: 100%;
  max-width: 400px;
}

.text-contatos {
  color: #fff;
  margin-bottom: 20px;
}

.contatos-lista {
  list-style: none;
  padding: 15px;
}

.contatos-lista li {
  margin: 15px 0;
}

.contatos-lista a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 12px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s ease;
}

/* WhatsApp */
.zap {
  background: #16a34a;
  color: white;
}

.zap:hover {
  background: #15803d;
  transform: translateY(-2px);
}

/* Email */
.email {
  background: #2563eb;
  color: white;
}

.email:hover {
  background: #1d4ed8;
  transform: translateY(-2px);
}

.icon {
  font-size: 1.2rem;
}
