.header {
  background-color: #040508; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  position: sticky;
  top: 0;
  z-index: 100;
}


.logo {
  color: #ffcc00;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 1px;
}

.header nav {
  display: flex;
  align-items: center;
  gap: 40px;
  position: relative;
  margin-right: 60px;
}


.header nav a {
  color: #e5e7eb;
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  position: relative;
  transition: color 0.2s ease;

}


.header nav a::after {
  width: 0%;
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: #ffcc00;
  
}

.header nav a:hover::after {
  width: 100%;
}

.header nav a:hover {
  color: #ffcc00;
}



.btn-logout {
  background-color: #ef4444;
  border: none;
  color: #fff;
  padding: 6px 14px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease;
}

.btn-logout:hover {
  background-color: #dc2626;
  transform: translateY(-1px);
}


@media (max-width: 768px) {
  .header {
    flex-direction: column;
    gap: 12px;
  }

  .header nav {
    flex-wrap: wrap;
    justify-content: center;
  }
}
